<div class="container=fluid mt-5 card-div" id="starting-div">
    <div class="heading mb-2">For you</div>
    <div class="d-flex justify-content-between" id="season-div">
        <div class="card m-2">
            <img src="https://i5.walmartimages.com/dfw/4ff9c6c9-7e3d/k2-_9b02ccaf-da08-4364-8da8-0829a83d1c91.v1.jpg"
                class="card-img-top" alt="summer-crew">
            <div class="card-body p-2">
                <h5><b class="card-title p-2">Cool savings</b></h5>
                <p class="card-text p-2">Find high-tech systems & WiFi-enabled fans at low prices.</p>
                <button class="btn btn-primary p-2 m-2" (click)="search('cool savings')">Shop Now</button>
            </div>
        </div>
        <div class="card m-2">
            <img src="https://i5.walmartimages.com/dfw/4ff9c6c9-a566/k2-_3a1f1708-ce8f-42ea-a1ed-9cb052cdcb8a.v1.jpg"
                class="card-img-top" alt="summer-crew">
            <div class="card-body p-2">
                <h5><b class="card-title p-2">School uniforms from $5</b></h5>
                <p class="card-text p-2">Keep them looking their best in tops & bottoms—plus shoes.</p>
                <button class="btn btn-primary p-2 m-2" (click)="search('school uniforms')">Shop Now</button>
            </div>
        </div>
        <div class="card m-2">
            <img src="https://i5.walmartimages.com/dfw/4ff9c6c9-c7f0/k2-_d91024f5-f4e6-4aeb-b6ee-0727607b0420.v1.jpg"
                class="card-img-top" alt="summer-crew">
            <div class="card-body p-2">
                <h5><b class="card-title p-2">Outdoor adventures</b></h5>
                <p class="card-text p-2">Gear up for family fun with hiking, fishing & more—under budget</p>
                <button class="btn btn-primary p-2 m-2" (click)="search('Outdoor adventures')">Shop Now</button>
            </div>
        </div>
    </div>
    <div class="seperator"></div>
</div>
<!-- summer offers -->
<div class="container=fluid" id="summer-offer">
    <div class="p-2 mb-3 text-center" id="offer"><a href="/register">Members get free shipping* with no minimum order!
            *Conditions applied.
            Register now!</a></div>
    <div class="heading p-3 season-sale">More summer for less</div>
    <div class="d-flex justify-content-between mt-0 p-4" id="summer-offer">
        <div class="d-flex flex-column">
            <img src="https://i5.walmartimages.com/dfw/4ff9c6c9-9c10/k2-_279df878-1f0e-4db5-a998-0462220a38e6.v1.jpg?odnHeight=290&odnWidth=290&odnBg=FFFFFF"
                alt="offer1">
            <span class="text-center">School supplies starting at 25¢</span>
        </div>
        <div class="d-flex flex-column">
            <img src="https://i5.walmartimages.com/dfw/4ff9c6c9-e6cf/k2-_51e5d5e4-5fe1-456a-b292-b26e7d07675e.v1.jpg?odnHeight=290&odnWidth=290&odnBg=FFFFFF"
                alt="offer1">
            <span class="text-center">Cooling & fans starting at $17</span>
        </div>
        <div class="d-flex flex-column">
            <img src="https://i5.walmartimages.com/dfw/4ff9c6c9-aab3/k2-_4c63e727-17a9-4da3-882e-dfb0abb28e3b.v1.jpg?odnHeight=290&odnWidth=290&odnBg=FFFFFF"
                alt="offer1">
            <span class="text-center">Up to 60% off fashion</span>
        </div>
        <div class="d-flex flex-column">
            <img src="https://i5.walmartimages.com/dfw/4ff9c6c9-228d/k2-_a9dc627f-e2f5-4a3e-9a08-392071e7a7e9.v1.jpg?odnHeight=290&odnWidth=290&odnBg=FFFFFF"
                alt="offer1">
            <span class="text-center">Swing sets starting at $249</span>
        </div>
    </div>
    <div class="seperator"></div>
</div>

<div class="container=fluid mt-5 mb-5 card-div">
    <div class="heading mb-2">In season</div>
    <div class="d-flex justify-content-between" id="season-div">
        <div class="card m-2">
            <img src="https://i5.walmartimages.com/dfw/4ff9c6c9-d40c/k2-_f69e630a-cd3b-4d05-aee6-ba2ab47feb99.v1.jpg"
                class="card-img-top" alt="summer-crew">
            <div class="card-body p-2">
                <h5><b class="card-title p-2">Save on summer styles</b></h5>
                <p class="card-text p-2">Sun-ready looks for the whole crew.</p>
                <button class="btn btn-primary p-2 m-2" (click)="search('summer styles')">Shop Now</button>
            </div>
        </div>
        <div class="card m-2">
            <img src="https://i5.walmartimages.com/dfw/4ff9c6c9-957f/k2-_947c7c40-6be4-496b-aa7a-1a17164825ff.v1.jpg"
                class="card-img-top" alt="summer-crew">
            <div class="card-body p-2">
                <h5><b class="card-title p-2">Fresh summer produce</b></h5>
                <p class="card-text p-2">Savor juicy berries, crunchy veggies & more delicious finds.</p>
                <button class="btn btn-primary p-2 m-2" (click)="search('fresh produce')">Shop Now</button>
            </div>
        </div>
    </div>
</div>