@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    font-family: 'Nunito', sans-serif;
    padding: 0;
    margin: 0;
    color: white;
}

nav {
    background-color: #0071dc;
    justify-content: space-between;
}


#search-icon {
    margin-left: 10px;
    height: 40px;
    background-color: yellow;
    padding: 8px;
    border-radius: 20px;
}

#search-bar {
    margin-left: 10px;
    width: 550px;
    background-color: white;
    padding: 8px;
    border-radius: 20px;
}

.icons8-search {
    display: inline-block;
    width: 24px;
    height: 24px;
    background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHg9IjBweCIgeT0iMHB4Igp3aWR0aD0iMjQiIGhlaWdodD0iMjQiCnZpZXdCb3g9IjAgMCAyNCAyNCIKc3R5bGU9IiBmaWxsOiMwMDAwMDA7Ij4gICAgPHBhdGggZD0iTSA5IDIgQyA1LjE0NTg1MTQgMiAyIDUuMTQ1ODUxNCAyIDkgQyAyIDEyLjg1NDE0OSA1LjE0NTg1MTQgMTYgOSAxNiBDIDEwLjc0Nzk5OCAxNiAxMi4zNDUwMDkgMTUuMzQ4MDI0IDEzLjU3NDIxOSAxNC4yODEyNSBMIDE0IDE0LjcwNzAzMSBMIDE0IDE2IEwgMjAgMjIgTCAyMiAyMCBMIDE2IDE0IEwgMTQuNzA3MDMxIDE0IEwgMTQuMjgxMjUgMTMuNTc0MjE5IEMgMTUuMzQ4MDI0IDEyLjM0NTAwOSAxNiAxMC43NDc5OTggMTYgOSBDIDE2IDUuMTQ1ODUxNCAxMi44NTQxNDkgMiA5IDIgeiBNIDkgNCBDIDExLjc3MzI2OCA0IDE0IDYuMjI2NzMxNiAxNCA5IEMgMTQgMTEuNzczMjY4IDExLjc3MzI2OCAxNCA5IDE0IEMgNi4yMjY3MzE2IDE0IDQgMTEuNzczMjY4IDQgOSBDIDQgNi4yMjY3MzE2IDYuMjI2NzMxNiA0IDkgNCB6Ij48L3BhdGg+PC9zdmc+') 50% 50% no-repeat;
    background-size: 100%;
}

.footer-clean{
    background-color: #0054a2;
    color: white;
    padding: 2.5rem 0 1.5rem 3.5rem;
}

.footer-clean h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
}

.footer-clean ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-clean ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer-clean ul a:hover {
    opacity: 0;
}

.footer-clean .item.social {
    text-align: right;
}

@media (max-width:767px) {
    .footer-clean .item {
        text-align: center;
        padding-bottom: 20px;
    }
}

@media (max-width: 768px) {
    .footer-clean .item.social {
        text-align: center;
    }
}

.footer-clean .item.social>a {
    font-size: 24px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    border: 1px solid #ccc;
    margin-left: 10px;
    margin-top: 22px;
    color: inherit;
    opacity: 0.75;
}

.footer-clean .item.social>a:hover {
    opacity: 0.9;
}

@media (max-width:991px) {
    .footer-clean .item.social>a {
        margin-top: 40px;
    }
}

@media (max-width:767px) {
    .footer-clean .item.social>a {
        margin-top: 10px;
    }
}

.footer-clean .copyright {
    margin-top: 14px;
    margin-bottom: 0;
    font-size: 13px;
    opacity: 0.6;
}

.gg-bookmark,
.gg-bookmark::after {
 display: block;
 box-sizing: border-box;
 border-top-right-radius: 3px
}

.gg-bookmark {
 border: 2px solid;
 border-bottom: 0;
 border-top-left-radius: 3px;
 overflow: hidden;
 position: relative;
 transform: scale(var(--ggs,1));
 width: 14px;
 height: 16px
}

.gg-bookmark::after {
 content: "";
 position: absolute;
 width: 12px;
 height: 12px;
 border-top: 2px solid;
 border-right: 2px solid;
 transform: rotate(-45deg);
 top: 9px;
 left: -1px
} 

