<div>
  <nav class="navbar navbar-expand-lg col-12 px-5 p-3 fixed-top">
    <a class="navbar-brand" href="#">
      <img
        src="https://i5.walmartimages.com/dfw/63fd9f59-b3e1/7a569e53-f29a-4c3d-bfaf-6f7a158bfadd/v1/walmartLogo.svg"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse d-flex justify-content-between" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item" id="shop-id">
          <!-- <a class="nav-link" routerLink="shop">Shop</a> -->
        </li>
        <li *ngIf="isTokenThere" class="nav-item" style="margin-left: 2rem;">
          <a class="nav-link" routerLink="cart">WishList</a>
        </li>
      </ul>
      <form class="form-inline d-flex" id="search-form" (submit)="search()">
        <input class="form-control" id="search-bar" type="search"
          placeholder="Search everything at Walmart online and in store" aria-label="Search" [(ngModel)]="term"
          name="term">
        <button class="btn" id="search-icon" type="submit">
          <div class="icons8-search"></div>
        </button>
      </form>
      <ul class="navbar-nav mr-auto">
        <li *ngIf="!isTokenThere" class="nav-item">
          <a class="nav-link" routerLink="register">Register</a>
        </li>
        <li *ngIf="!isTokenThere" class="nav-item d-flex">
          <a class="nav-link" routerLink="login">Login</a>
        </li>
        <li *ngIf="isTokenThere" class="nav-item">
          <a class="nav-link" routerLink="account">{{username}}</a>
        </li>
      </ul>
    </div>
  </nav>
  <router-outlet></router-outlet>
</div>

<div class="footer-clean">
  <footer>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-sm-4 col-md-3 item">
          <h3>Team ByteCode Blasters</h3>
          <ul>
            <li><a href="https://www.instagram.com/lajeffe_/">Sumit Shubham</a></li>
            <li><a href="https://www.instagram.com/bomikamuralikrishna/">M Boomika</a></li>
            <li><a href="https://www.instagram.com/mahathi_kunda/">K Sai Mahathi</a></li>
            <li><a href="#">Sneha Balu Koli</a></li>
            <li><a href="https://www.instagram.com/_saimanojkumar_/">Sai Manoj Kumar Dara</a></li>
          </ul>
        </div>
        <div class="col-sm-4 col-md-3 item">
          <!-- <h3>About</h3>
          <ul>
            <li><a href="#">Company</a></li>
            <li><a href="#">Team</a></li>
            <li><a href="#">Legacy</a></li>
          </ul> -->
        </div>
        <div class="col-sm-4 col-md-3 item">
          <!-- <h3>Careers</h3>
          <ul>
            <li><a href="#">Job openings</a></li>
            <li><a href="#">Employee success</a></li>
            <li><a href="#">Benefits</a></li>
          </ul> -->
        </div>
        <div class="col-lg-3 item social">
          <a href="https://www.facebook.com/walmart/"><img src="https://cdn-icons.flaticon.com/png/512/4494/premium/4494475.png?token=exp=1657644150~hmac=20277855cd6a97e3a55e8f98cad5acf2" alt="" style="width: 35px; margin-bottom:5px">
          </a>
          <a href="https://twitter.com/Walmart?s=20&t=SXig2HFerHDEEcY1QqoYnA"><img src="https://cdn-icons.flaticon.com/png/512/4494/premium/4494477.png?token=exp=1657644150~hmac=2139fbd054ee544d383a2eb53572988b" alt="" style="width: 35px; margin-bottom:5px"></a>
          <a href="https://www.instagram.com/walmart/"><img src="https://cdn-icons.flaticon.com/png/512/4494/premium/4494488.png?token=exp=1657644150~hmac=b72348ec0e18fc8570c8bde479f571fb" alt="" style="width: 35px; margin-bottom:5px"></a>
          <a href="https://www.youtube.com/walmart"><img src="https://cdn-icons.flaticon.com/png/512/4494/premium/4494485.png?token=exp=1657644150~hmac=9534da809f82a93360f7f07b8c72e373" alt="" style="width: 35px; margin-bottom:5px"></a>
          <p class="copyright">Walmart App © 2022</p>
          <p class="copyright" style="font-size: 18px;"><b>Mentor: B.V. Sagar</b></p>
        </div>
      </div>
    </div>
  </footer>
</div>