<div class="container-fluid mt-5 d-flex justify-content-center">
    <div *ngIf="!noItemFlag" class="mt-5">
        <img src="https://media4.giphy.com/media/Yf7kN6Xdle87K/giphy.gif?cid=ecf05e47k3lods6743z9n6k615q8vrrlogn10d0favon37i4&rid=giphy.gif&ct=s" alt="doge">
    </div>
    <div class="p-5" *ngIf="noItemFlag">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Image</th>
                    <th scope="col">Description</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>
                <ng-container class="d-flex p-2" *ngFor="let cartItems of cartItems; let i = index">
                    <tr>
                        <td><img src={{cartItems.image_url}} alt=""></td>
                        <td>{{cartItems.title}}</td>
                        <td><button class="btn btn-light" (click)="updateQuantity(cartItems.id,cartItems.quantity-1)">-</button><span class="p-2">{{cartItems.quantity}}</span><button class="btn btn-light" (click)="updateQuantity(cartItems.id,cartItems.quantity+1)">+</button></td>
                        <td colspan="2">${{cartItems.price}}</td>
                        <button class="btn btn-danger m-2" (click)="delete(cartItems.id)" >delete</button>
                    </tr>
                </ng-container>
            </tbody>
        </table>

    </div>
</div>
