@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@300&family=Source+Sans+Pro:wght@300&display=swap');
*{
    color: black;
    margin: 0;
    padding: 0;
}

#walmart-logo{
    width: 4%;
}

#register-btn{
    width: 250px;
    color: white;
    border-radius: 20px;
}

.form-inputs{
    width: 400px;
}